#anchorAbajo
{
    -fx-background-color: linear-gradient(white 0%, #EAEAEA 100%);
}

.button
{

-fx-background-color: #008000;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-border-width: 0px 0px 2px 0px;

}
.button:hover
{

    -fx-cursor: HAND;
}
.text-field
{
    -fx-text-fill: #000000;
    -fx-border-color: #333333;
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
}
#btnAgregarImagen
{
 -fx-background-color: #32CD32;
}
#btnPublicarProducto
{
 -fx-background-color: #40E0D0;
}
#btnRegresar
{
-fx-background-color: #FF6B6B;
}

